# 03 - Advanced Manipulations ðŸ¥‹

---

![](https://cdn.lifehack.org/wp-content/uploads/2015/08/business-tips-from-bruce-lee.jpg)

---

In this challenge, we will explore new advanced Pandas manipulation techniques.

**Q1**. Start by importing pandas as usual. What version of Pandas are you using?

In [2]:
# TODO: import numpy and pandas
### STRIP_START ###
import numpy as np
import pandas as pd
print("Pandas version={}".format(pd.__version__))
### STRIP_END ###

Pandas version=0.23.4

We create two new Series that we want to manipulate in a DataFrame.

In [4]:
series_1 = pd.Series(np.arange(10))
series_2 = pd.Series(list('abcdefghij'))

**Q2**. Have a look at both Series.

- Merge those two series into a single DataFrame (one column per Series) and display results
- Stack those two Series vertically and display results

In [8]:
# TODO: Concatenate the two series horizontally
### STRIP_START ###
horizontal = pd.concat([series1, series2], axis=1)
horizontal
### STRIP_END ###

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i
9  9  j

Concatenate those two series *s1* and *s2* vertically and print the result.

In [10]:
# TODO: stack the two series vertically
### STRIP_START ###
vertical = pd.concat([series_1, series_2], axis=0)
vertical
### STRIP_END ###

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

**Q3**. We create two new series *s1* and *s2*

- Display the items in *s1* that are not present in *s2*.

> ðŸ”¦ **Hint**: you may need to use the `~` operator and the pandas function `isin()`

- Display the items that are not common to *s1* and *s2*.

> ðŸ”¦ **Hint**: you might need to use the NumPy functions `intersect1d` and `union1d`

In [13]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
s2 = pd.Series([4, 5, 6, 7, 8, 9, 10])

In [14]:
# TODO: Display the items of n1 not present in n2
### STRIP_START ###
s1[~s1.isin(s2)]
### STRIP_END ###

0    1
1    2
2    3
dtype: int64

In [11]:
# TODO: Display the items not common to both s1 and s2
### STRIP_START ###
union = pd.Series(np.union1d(s1, s2))
intersection = pd.Series(np.intersect1d(s1, s2))
print(union[~union.isin(intersection)])
### STRIP_END ###

0     1
1     2
2     3
7     8
8     9
9    10
dtype: int64

**Q4**. Again, we create two new Series: `alphabet` and `indices`. Display the letters from the Series `alphabet` coressponding the indexes contained in `indices`.

In [19]:
alphabet = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
indices = pd.Series([7,4,11,11,14])

In [23]:
# TODO: Display the letters from alphabet corresponding to the indexes contained in indices
### STRIP_START ###
# METHOD 1:
alphabet[indices]
# METHOD 2:
alphabet.take(indices)
### STRIP_END ###

7     h
4     e
11    l
11    l
14    o
dtype: object

**Q5**. Finally, we create a new Series `random_series` of 20 random integers (between 1 and 8). In order to work on **reproducible results**, we specify a **random seed** of 0.

Find the two most frequent values in `random_series` and replace the other values by -1.

In [28]:
np.random.seed(0)
random_series = pd.Series(np.random.randint(1, 8, 20))

In [33]:
# TODO: Find the two most frequent values of random_series
# and replace all other values by -1
### STRIP_START ###
most_frequent = random_series.value_counts().index[:2]
random_series_new = random_series
random_series_new[~random_series_new.isin(most_frequent)]=-1
random_series_new
### STRIP_END ###

0    -1
1    -1
2     1
3     4
4     4
5     4
6    -1
7     4
8    -1
9    -1
10   -1
11   -1
12    1
13    1
14   -1
15   -1
16   -1
17   -1
18   -1
19    1
dtype: int64