# 03 - Advanced Manipulations ðŸ¥‹

---

![](https://cdn.lifehack.org/wp-content/uploads/2015/08/business-tips-from-bruce-lee.jpg)

---

In this challenge, we will explore new advanced Pandas manipulation techniques.

**Q1**. Start by importing pandas as usual. What version of Pandas are you using?

In [ ]:
# TODO: import numpy and pandas

We create two new Series that we want to manipulate in a DataFrame.

In [ ]:
series_1 = pd.Series(np.arange(10))
series_2 = pd.Series(list('abcdefghij'))

**Q2**. Have a look at both Series.

- Merge those two series into a single DataFrame (one column per Series) and display results
- Stack those two Series vertically and display results

In [ ]:
# TODO: Concatenate the two series horizontally

Concatenate those two series *s1* and *s2* vertically and print the result.

In [ ]:
# TODO: stack the two series vertically

**Q3**. We create two new series *s1* and *s2*

- Display the items in *s1* that are not present in *s2*.

> ðŸ”¦ **Hint**: you may need to use the `~` operator and the pandas function `isin()`

- Display the items that are not common to *s1* and *s2*.

> ðŸ”¦ **Hint**: you might need to use the NumPy functions `intersect1d` and `union1d`

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
s2 = pd.Series([4, 5, 6, 7, 8, 9, 10])

In [ ]:
# TODO: Display the items of n1 not present in n2

In [ ]:
# TODO: Display the items not common to both s1 and s2

**Q4**. Again, we create two new Series: `alphabet` and `indices`. Display the letters from the Series `alphabet` coressponding the indexes contained in `indices`.

In [ ]:
alphabet = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
indices = pd.Series([7,4,11,11,14])

In [ ]:
# TODO: Display the letters from alphabet corresponding to the indexes contained in indices

**Q5**. Finally, we create a new Series `random_series` of 20 random integers (between 1 and 8). In order to work on **reproducible results**, we specify a **random seed** of 0.

Find the two most frequent values in `random_series` and replace the other values by -1.

In [ ]:
np.random.seed(0)
random_series = pd.Series(np.random.randint(1, 8, 20))

In [ ]:
# TODO: Find the two most frequent values of random_series
# and replace all other values by -1