# 03 - Advanced Manipulations

This optional exercise is sometimes beyond the lectures, so you might need google at some point.

In [2]:
# TODO: import numpy and pandas
### BEGIN STRIP ###
import numpy as np
import pandas as pd
### END STRIP ###

Now let's make some more advanced manipulation on dataframes and series

In [3]:
series1 = pd.Series(np.arange(10))
series2 = pd.Series(list('abcdefghij'))

In [7]:
# TODO: concatenate the two series horizontally
### BEGIN STRIP ###
horizontal = pd.concat([series1, series2], axis=1)
### END STRIP ###
horizontal

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i
9  9  j

In [8]:
# TODO: stack the two series vertically
### BEGIN STRIP ###
vertical = pd.concat([series1, series2], axis=0)
### END STRIP ###
vertical

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [9]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
s2 = pd.Series([4, 5, 6, 7, 8, 9, 10])

In [11]:
# TODO: print the items of s not present in s2
### BEGIN STRIP ###
s1[~s1.isin(s2)]
### END STRIP ###

0    1
1    2
2    3
dtype: int64

In [12]:
# TODO: print the items not common to both s1 and s2
### BEGIN STRIP ###
s_union = pd.Series(np.union1d(s1, s2))
s_intersect = pd.Series(np.intersect1d(s1, s2))
print(s_union[~s_union.isin(s_intersect)])
### END STRIP ###

0     1
1     2
2     3
7     8
8     9
9    10
dtype: int64

In [ ]:
# TODO: print the items from the series alphabet using the indices in the series index
alphabet = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
indices = pd.Series([7,4,11,11,14])
### BEGIN STRIP ###
alphabet.take(indices)
### END STRIP ###

In [13]:
np.random.seed(0)
new_series = pd.Series(np.random.randint(1, 8, [20]))
new_series

0     5
1     6
2     1
3     4
4     4
5     4
6     2
7     4
8     6
9     3
10    5
11    7
12    1
13    1
14    5
15    3
16    2
17    7
18    7
19    1
dtype: int64

In [14]:
# TODO: in the series new_series, find the two most frequent values
# and then replace all other values by -1, put the result in new_result
### BEGIN STRIP ###
most_frequent = new_series.value_counts().index[:2]
new_result = new_series
new_result[~new_series.isin(most_frequent)]=-1
### END STRIP ###
new_result

0    -1
1    -1
2     1
3     4
4     4
5     4
6    -1
7     4
8    -1
9    -1
10   -1
11   -1
12    1
13    1
14   -1
15   -1
16   -1
17   -1
18   -1
19    1
dtype: int64