# 02 - Pokemon ðŸ§¢

---

![](https://images.unsplash.com/photo-1471014706828-7f1b12e6d88b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80)
Picture by [David Grandmougin](https://unsplash.com/photos/Am1io6KusFM)

---

This will be an exercise about Pokemon statistics!

**Q1**. Start by loading the dataset in `input/pokemon.csv`.

Have a quick view at the data.

In [3]:
# TODO: Import the dataset pokemon.csv in a new DataFrame
### STRIP_START ###
import numpy as np
import pandas as pd
pokemon = pd.read_csv('input/pokemon.csv')
pokemon.head()
### STRIP_END ###

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**Q2**. Find and display the Pokemon(s) name with the **lowest attack**.

In [4]:
# TODO: What is the pokemon with the lowest attack?
### STRIP_START ###
pokemon[pokemon['Attack'] == pokemon['Attack'].min()]['Name']
### STRIP_END ###

121    Chansey
488    Happiny
Name: Name, dtype: object

**Q3**. Find and display the Pokemon(s) name with the **highest HP**:

In [5]:
# TODO: What is the pokemon with the highest HP?
### STRIP_START ###
pokemon[pokemon['HP'] == pokemon['HP'].max()]['Name']
### STRIP_END ###

261    Blissey
Name: Name, dtype: object

**Q4**. A Pokemon can be a mix of 2 types: `Type 1` and `Type 2`. Let's try to identify the **most frequent Pokemon type**

- Count the number of Pokemon per `Type 1`
- Count the number of Pokemon per `Type 2`
- Find out the most frequent type (summing occurences in `Type 1` and `Type 2`)

In [19]:
# TODO: What are the frequencies of types in Type 1?
### STRIP_START ###

# Count number of Pokemon per type
type1_count = pokemon['Type 1'].value_counts()
type2_count = pokemon['Type 2'].value_counts()
total_type_count = type1_count + type2_count

# Retrieve the most frequent type
# METHOD 1:
total_type_count.idxmax()
# METHOD 2:
total_type_count.sort_values(ascending=False).index[0]

### STRIP_END ###

'Water'

**Q5**. Get the `Type 1` with the **highest attack on average**:

In [32]:
# TODO: What is the Type 1  with the highest attack on average? 
### STRIP_START ###
type_1_mean_attack = pokemon.groupby('Type 1')["Attack"].mean()
type_1_mean_attack.sort_values().index[-1]
### STRIP_END ###

'Dragon'

**Q6**. We want to compare **legendary** vs **non legendary** pokemons ðŸ¦„

- Create a new column `Total` containing the toal of points for each Pokemon.
- Compute the mean of `Total` for legendary and for non legendary Pokemon.
- Conclude on the strength of **legendary** pokemons.

In [46]:
### STRIP_START ###
pokemon['Total'] = np.sum(pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed']],
                          axis=1)
mean_total_legendary = pokemon[pokemon['Legendary'] == True].Total.mean()
mean_total_non_legendary = pokemon[pokemon['Legendary'] == False].Total.mean()

print("Legendary: {}".format(mean_total_legendary))
print("Non legendary: {}".format(mean_total_non_legendary))
### STRIP_END ###

Legendary: 637.3846153846154
Non legendary: 417.21360544217686

**Q7**. Filter the DataFrame on only **mega Pokemons**: the ones that contains `mega` in the name. ðŸ¦–

Drop the mega evolutions of generation 5 (it was not a good generation).

How many evolutions is there left?

In [47]:
# TODO: Extract the mega evolution pokemons only (with 'mega' in the name)
### STRIP_START ###
mega = pokemon[pokemon['Name'].str.contains('Mega')]
mega.head()
### STRIP_END ###

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [49]:
# TODO: Drop the mega pokemons of generation 5
### STRIP_START ###
mega_non_gen_5 = mega[mega['Generation'] != 5]
mega_non_gen_5.head()
### STRIP_END ###

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [50]:
# TODO: print out the number of mega evolutions (without generation 5)
### STRIP_START ###
print(len(mega_non_gen_5))
### STRIP_END ###

48